@import "bootstrap";

.Footer {
  padding: 1.5rem;
  color: #999;
  font-size: 0.85em;
  text-align: center;
  bottom: 0;
  width: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: visible;
  z-index: 99;
  padding-top: 5px;
  padding-bottom: 3px;
  background: white;
  background-color: rgba(#404040, 0.85);
  -webkit-box-shadow: 0 3px 3px 0 #212121;
  box-shadow: 0 3px 3px 0 #212121;
  height: 30px;
}
.logoimg {
  font-size: 24px;
  text-shadow: 2px solid white;
}
.logoimg::after {
  content: url("http://webtotally.com/beta.png");
  margin-left: 2px;
}
body {
  padding-bottom: 95px !important;

}

.navbar-toggle {

    margin-right: 5px !important;
  }
